<div class="container">
  <h1>Pipes Project</h1>

  <div class="row">
    <div class="form-group col">
      <div>
        <label>Payee name:</label>
        <input class="form-control" (input)="onNameChange(payeeName.value)" #payeeName>
      </div>
    </div>
    <div class="col">
      <label><b>Name: </b></label>
      <div>
        {{name | titlecase}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <div>
        <label>Payment date:</label>
        <input class="form-control" type="date" (input)="onDateChange(paymentDate.value)" #paymentDate>
      </div>
    </div>
    <div class="col">
      <label><b>Date received: </b></label>
      <div>
        {{date | date: 'longDate' }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <div>
        <label>Payment amount:</label>
        <input class="form-control" (input)="onAmountChange(paymentAmount.value)" #paymentAmount>
      </div>
    </div>
    <div class="col">
      <label><b>Amount received: </b></label>
      <div>
        {{amount | currency}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <div>
        <label>Height:</label>
        <input class="form-control" (input)="onHeightChange(heightInput.value)" #heightInput>
      </div>
    </div>
    <div class="col">
      <label><b>Height: </b></label>
      <div>
        {{ height | number }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <div>
        <label>Miles:</label>
        <input class="form-control" (input)="onMilesChange(milesInput.value)" #milesInput>
      </div>
    </div>
    <div class="col">
      <label><b>Kilometers: </b></label>
      <div>
        {{ miles | miConvert: 'km' }}
      </div>
    </div>
  </div>
</div>